@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

#body {
    background-color: #2d3546;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

#editor {
    background: rgb(211, 211, 211);
    color: black;
    width: 800px;
    padding: 30px;
    border-radius: 5px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.422);
}

#link {
    color: #397a8b;
}

#toolbar {
    margin-top: -20px;
}

#toolbar button {
    margin-right: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

#quote {
    margin: 30px;
    padding: 15px;
    border-left-style: solid;
    border-left-width: 5px;
    background: #7d7d7e80;
    font-family: "Berkshire Swash";
}

#quote #icon {
    margin-right: 15px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
